body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    scroll-behavior: smooth;
}

header {
    background: #222;
    color: white;
    padding: 40px;
    text-align: center;
}

nav {
    background: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

#about img {
    width: 150px;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 8px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.project {
    background: #eee;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #333;
}

.btn {
    background: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a:hover {
    color: #00ffd5;
}

.project:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

section {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px;
        padding: 20px;
    }

    #about img {
        width: 120px;
    }
}
